// Slider
#feature {
  border-bottom:1px solid #ccc;
  margin: -1em -5.55% 0;
  ul {
    list-style: none;
    margin:0;
    padding-bottom:20px;
  }
  li {
    display: none;
    &.feature {
      display: block;
    }
  }
  .feature-image {
    text-align: center;
  }
}

.feature-description {
  margin:0 5%;
  h2 {
    font-size:18px;
    line-height: 20px;
    margin: 20px 0px 10px;
  }
}